# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/
venv/
ENV/

# Build / distribution
build/
dist/
*.egg-info/

# Tests / cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Environnements locaux
.env

# IDE
.vscode/
.idea/